<div class="row activity-details activity-details-dates">
    <div class="col-md-3">Created: {{activity.create_date | date}}</div>
    <div class="col-md-3">Updated: {{activity.edit_date | date}}</div>
    <div class="col-md-3">Start: {{activity.actual_start_date | date}}</div>
    <div class="col-md-3">End: {{activity.actual_end_date | date}}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="row activity-details activity-details-costs">
      <div class="col-md-3">Budget: {{activity.total_estimated_budget | currency:activity.local_currency:'symbol'}}</div>
      <div class="col-md-3">Cost: {{activity.total_cost | currency:activity.local_currency:'symbol'}}</div>
      <div class="col-md-3">Actual cost: {{activity.actual_cost | currency:activity.local_currency:'symbol'}}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="row activity-details activity-details-funding">
      <div class="col-md-3">Status: {{activity.status}}</div>
      <div class="col-md-3">Staff responsible: {{activity.staff_responsible}}</div>
      <div class="col-md-3">progress: {{activity.progress}}</div>
  </div>